<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      
        <link rel="stylesheet" href="../static/css.css">
        <title>Food Diary</title>
        <div class="anchor" id="home"></div>

        <script type="text/javascript"> 
            var bDisplay = true; function doDisplay(){ 	
                var con = document.getElementById("myDIV"); 	
                if(con.style.display=='none'){ 		
                    con.style.display = 'block'; 	
                }else{ 		
                    con.style.display = 'none'; 	
                } 
            } 
        </script>
    </head>


    <header>
        
        <a href="#home"><ion-icon name="home-outline"style="text-align:left;font-size:30px;margin-right:5px"></ion-icon></a>
        <a href="#challenge"><ion-icon name="barbell-outline" style="text-align:left;font-size:30px;"></ion-icon></a>
        <span class="headertext">Food Diary</span>   
    
    </header>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </head>
    
    <body>

        <!-- 여기에 날짜 바꾸는 부분!!!-->
        <!--

        <p class="body_head">
        <ion-icon name="chevron-back-circle-outline"style="font-size:64px;"></ion-icon>
        August 11
        <a href="8월12일.html">
        <ion-icon name="chevron-forward-circle-outline" style="font-size:64px;"></ion-icon>
        </a>

        </p>
        Today's Meal
        </p>
        <p>
            <ion-icon name="ellipse-outline" style="font-size:10px;margin-left:3%"></ion-icon>
            &nbsp;&nbsp;Salad,Apple (235Kcal)
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;See details
            <ion-icon name="arrow-forward-outline"></ion-icon>
        </p>
        <p>
            <ion-icon name="ellipse-outline" style="font-size:10px;margin-left:3%"></ion-icon>
            &nbsp;&nbsp;Tomato, Fried Egg (413Kcal)
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;See details
            <ion-icon name="arrow-forward-outline"   ></ion-icon>
    
    
        </p>
        <p>
            <ion-icon name="ellipse-outline" style="font-size:10px;margin-left:3%"></ion-icon>
            &nbsp;&nbsp;Upload your meal!
            &nbsp;&nbsp;&nbsp;<ion-icon name="add-circle-outline"></ion-icon>
    
    
        </p>
    -->

    <body>
        
        

        {% if meal_list|length >0 %}
            {% for meal in meal_list %}
                <ul>
                {% for food in meal['meal_info'] %}
                    {% if food["foodname"]!="total" %}
                        [{{food["foodname"]}}] 
                    {% endif %}
                {% endfor %}
                <button type="button" onClick="location.href='/detail/{{meal.id}}'">Details</button>
                </ul>
                
               
            {% endfor %}
        {% else %}
            <h3>No meal today yet...</h3> 
        {% endif %}
        
        <form action="http://localhost:5000/upload" 
            method="POST"
            enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" />
        </form>

        <br><br>
        {% if img is not none %}
            analyzed_img: <br>
            <img src="/static/{{img}}" />
        {% endif %}
        <br/><br/>    



        <div>Summary</div>
        <div class="container">
            <canvas id="calories"></canvas>
          </div>
          <script>
            var ctx = document.getElementById('calories').getContext('2d');
            var chart = new Chart(ctx, {
              // 챠트 종류를 선택
              type: 'line',
        
              // 챠트를 그릴 데이타
              data: {
                labels: ['08.05', '08.06', '08.07', '08.08', '08.09', '08.10', '08.11'],
                datasets: [{
                  label: 'Calorie',
                  backgroundColor: 'transparent',
                  borderColor: 'red',
                  data: [1278, 2210, 1955, 1982, 1570, 2730, 1432]
                }]
                },
                options: {}
            });
        </script>
        
      <div class="container">
        <canvas id="myChart"></canvas>
      </div>
    
      <!-- 부트스트랩 -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
      <!-- 차트 -->
      <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
          // 챠트 종류를 선택
          type: 'line',
    
          // 챠트를 그릴 데이타
          data: {
            labels: ['08.05', '08.06', '08.07', '08.08', '08.09', '08.10', '08.11'],
            datasets: [
            {
                label: 'Protein',
                backgroundColor: 'transparent',
                borderColor: 'Purple',
                data: [101, 120, 84, 96, 142, 127,135]
            },
            
            {
                label: 'Carbohydrate',
                backgroundColor: 'transparent',
                borderColor: 'Brown',
                data: [154, 107, 124, 96, 184, 135,104]
            },
            
            {
                label: 'Fat',
                backgroundColor: 'transparent',
                borderColor: 'Yellow',
                data: [54, 67, 74, 61, 84, 48,96]
            }
            ]
          },

          // 옵션
          options: {}
        });
        
      </script>
      





      <div class="anchor" id="challenge"></div>

        <a href="javascript:doDisplay();"> >see details</a><br/><br/> 

                <script type="text/javascript">

                    // 버튼 클릭 이벤트
                    function innerSample1() {
                        // span 문자열 변경
                        document.getElementById("test1").innerHTML = 

                        `<div> <label for='Now I'm'>- Today's Weight is : </label> <input type='text'><label for='kg'>kg,</label>
                        </div> <div> <br>- Verification </br> 
                        <input type='file' name='file' /> </div>
                        <br> You can do it! </br> <input type = 'submit' />`;

                    }

                    
                    </script>
        {% if challenging == False %}
                    <div>
                        

                            <span id="test1" style="font-size: 120%;">
                            
                                <div id="myDIV"> 	
                                    <div> This is description... 설명설명설명설명... </div>
                                    <div>
                                        <br>So, What's the rules?
                                        <br>- At least 2 meals a day
                                        <br>- Accomplish your goal by the deadline set by yourselves!
                                        <br>- Bet your own money, and we'll return when you finish it!
                                        <br>- If 100% accomplished, there's prize!!
                                    </div>
                                    <div>
                                        <h2>Participate the challenge</h2>
                                        <div>
                                            <br>- Let us know your goal
                                                <form action="/" method="POST" name="challenge-form" id="challenge-form">
                                                    <span>
                                                        My goal is to 
                                                            <select name="goal">
                                                                <option value="default" selected="selected">Select</option>
                                                                <option value="lose">lose</option>
                                                                <option value="maintain">maintain</option>
                                                                <option value="gain">gain</option>
                                                            </select>
                                                        weight
                                                    </span>
                                                
                                        </div>
                                        <div>
                                            <br>
                                                    <div>
                                                        <label for="Now I'm">- Now I'm : </label>
                                                        <input type="text" name="current-state">
                                                        <label for="kg">kg,</label>
                                                    </div>
                                                
                                                    <div>
                                                        <label for="and">and I will be</label>
                                                        <input type="text" name="goal-state">
                                                        <label for="kg">kg</label>
                                                    </div>
                                                    
                                                    <div>
                                                        <label for="by">by</label>
                                                        <input type="date" name="deadline">
                                                    </div>
                                        </div>
                        
                                        <div>
                                            <br>
                                                    <div>
                                                        <label for="Now I'm">- Betting money : </label>
                                                        <input type="text">
                                                        <label for="won">won</label>
                                                    </div>
                                                
                                        </div>
                                        <div>
                                        <input type="submit" value=" Start challenge! ">
                                        </form>

                            
                    </div>
                </div>
            </div>
        </div> 
    {% else %} <!-- challenge 참여 중일때-->
        <h3>Participating!!</h3>
        <h2>{{challenge_info['deadline']}}</h2>
    {% endif %}
    </body>
</html>