<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript"> 
            var bDisplay = true; function doDisplay(){ 	
                var con = document.getElementById("myDIV"); 	
                if(con.style.display=='none'){ 		
                    con.style.display = 'block'; 	
                }else{ 		
                    con.style.display = 'none'; 	
                } 
            } 
        </script>
    </head>
    <body>
        <h2> This is home </h2>

        {% if meal_list|length >0 %}
            {% for meal in meal_list %}
                <ul> {{meal}} </ul>
                <button type="button" onClick="location.href='/detail/{{meal.id}}'">Details</button>
            {% endfor %}
        {% else %}
            <h3>No meal today yet...</h3> 
        {% endif %}
        <form action="http://localhost:5000/upload" 
            method="POST"
            enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" />
        </form>

        <br><br>
        {% if img is not none %}
            analyzed_img: <br>
            <img src="/static/{{img}}" />
        {% endif %}
        <br/><br/>    
        <a href="javascript:doDisplay();"> >see details</a><br/><br/> 

                <script type="text/javascript">

                    // 버튼 클릭 이벤트
                    function innerSample1() {
                        // span 문자열 변경
                        document.getElementById("test1").innerHTML = 

                        `<div> <label for='Now I'm'>- Today's Weight is : </label> <input type='text'><label for='kg'>kg,</label>
                        </div> <div> <br>- Verification </br> 
                        <input type='file' name='file' /> </div>
                        <br> You can do it! </br> <input type = 'submit' />`;

                    }

                    
                    </script>
                    
                    <div>
                        <form>

                            <span id="test1" style="font-size: 120%;">
                            
                                <div id="myDIV"> 	
                                    <div> This is description... 설명설명설명설명... </div>
                                    <div>
                                        <br>So, What's the rules?
                                        <br>- At least 2 meals a day
                                        <br>- Accomplish your goal by the deadline set by yourselves!
                                        <br>- Bet your own money, and we'll return when you finish it!
                                        <br>- If 100% accomplished, there's prize!!
                                    </div>
                                    <div>
                                        <h2>Participate the challenge</h2>
                                        <div>
                                            <br>- Let us know your goal
                                                <form action="/" method="POST" name="challenge-form" id="challenge-form">
                                                    <span>
                                                        My goal is to 
                                                            <select name="goal">
                                                                <option value="default" selected="selected">Select</option>
                                                                <option value="lose">lose</option>
                                                                <option value="maintain">maintain</option>
                                                                <option value="gain">gain</option>
                                                            </select>
                                                        weight
                                                    </span>
                                                
                                        </div>
                                        <div>
                                            <br>
                                                    <div>
                                                        <label for="Now I'm">- Now I'm : </label>
                                                        <input type="text">
                                                        <label for="kg">kg,</label>
                                                    </div>
                                                
                                                    <div>
                                                        <label for="and">and I will be</label>
                                                        <input type="text">
                                                        <label for="kg">kg</label>
                                                    </div>
                                                    
                                                    <div>
                                                        <label for="by">by</label>
                                                        <input type="date">
                                                    </div>
                                        </div>
                        
                                        <div>
                                            <br>
                                                    <div>
                                                        <label for="Now I'm">- Betting money : </label>
                                                        <input type="text">
                                                        <label for="won">won</label>
                                                    </div>
                                                </form>
                                        </div>
                                        <div>
                                        <input type="button" value=" Start challenge! " onClick="innerSample1()">
                                        </form>

                            
                    </div>
                </div>
            </div>
        </div> 
    </body>
</html>